@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Doto';
    src: url('assets/fonts/Doto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quantico';
    src: url('assets/fonts/Quantico-Regular.ttf') format('truetype');
}

body {
    height: 100dvh;
    // cursor: url('assets/icons/cursor.svg') 0 0, auto;   
}

.card {
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    &.skulls {
        background-image: url('/assets/image/skulls.svg');
    }

    &.topography {
        background-image: url('/assets/image/topography.svg');
    }

    &.border-none {
        border: none !important;
        border-radius: 0 !important;
    }

    &.no-shadow {
        box-shadow: none !important;
    }

    &:hover {
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(255, 255, 255, 0.2);
        transition: box-shadow 0.3s ease-in-out;
    }
}